.RecipePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    text-align: center;
}

.RecipePage h1 {
    margin-bottom: 20px;
}

.ingredient-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

.ingredient-item label {
   width:80%
}

.ingredient-checkbox {
    width:20%;
}
.instruction {
    margin-bottom: 20px;
}

