.Card {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

}

.Card:hover {
    background-color: rgb(236, 234, 234)
}

.Card button {
    margin-bottom: 10px;
    font-size: 1rem;
}